<div>
  <div *ngIf="!(isLoading$ | async)" class="grid grid-cols-7 ">
    <div class="col-span-1 p-2" *ngFor="let seat of seats">
      <div
        class="h-14 w-14 flex flex-col items-center justify-center text-black font-semibold text-lg rounded-md"
        [ngClass]="!seat.isBooked? 'border border-green-400 text-green-400' : 'bg-green-400 rounded-md'"
      >
        {{ seat.seatNumber }}
      </div>
    </div>

    
  </div>

  <div *ngIf="isLoading$ | async" class="min-h-[80vh] flex flex-col w-full justify-center items-center">
    <p class="font-semibold text-xl text-gray-400">Loading... </p>
  </div>
</div>
